body {
  background: #313A5A;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face { 
  font-family: 'MartianBThai-Regular';
  src: url('/src/assets/fonts/MartianBThai-Regular.otf'); 
}

@font-face { 
  font-family: 'Rubik-Bold';
  src: url('/assets/fonts/Rubik-Bold.ttf'); 
}

@font-face { 
  font-family: 'Rubik-Light';
  src: url('/src/assets/fonts/Rubik-Light.ttf'); 
}

@font-face { 
  font-family: 'Rubik-Medium';
  src: url('/src/assets/fonts/Rubik-Medium.ttf'); 
}

@font-face { 
  font-family: 'Rubik-Regular';
  src: url('/src/assets/fonts/Rubik-Regular.ttf'); 
}

